@font-face {
	font-family: Calibri;
	src: url(Calibri.ttf);
}
html {
	font-weight: bold;
	text-align: center;
}
#menuBar
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 32px;
	background: url(mb_bg.png);
	box-shadow: 0px -4px 8px #757575 inset;
	color: #ccc;
}
